WebForms/Connected Services/ServiceWCF/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58008/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model.BusinessModel" />
  <xs:import schemaLocation="http://localhost:58008/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Model.BusinessViewModel" />
  <xs:element name="RegistrarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model.BusinessModel" minOccurs="0" name="tb_Cliente_Objeto_DTO" nillable="true" type="q1:TB_CLIENTE" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model.BusinessModel" minOccurs="0" name="tB_CLIENTE_DOCUMENTO_DTO" nillable="true" type="q2:TB_CLIENTE_DOCUMENTO" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model.BusinessModel" minOccurs="0" name="tB_CLIENTE_ENDERECO_DTO" nillable="true" type="q3:TB_CLIENTE_ENDERECO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_Cliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Model.BusinessModel" minOccurs="0" name="tb_Cliente_Objeto_DTO" nillable="true" type="q4:TB_CLIENTE" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Model.BusinessModel" minOccurs="0" name="tB_CLIENTE_DOCUMENTO_DTO" nillable="true" type="q5:TB_CLIENTE_DOCUMENTO" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Model.BusinessModel" minOccurs="0" name="tB_CLIENTE_ENDERECO_DTO" nillable="true" type="q6:TB_CLIENTE_ENDERECO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalharCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_cliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalharClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Model.BusinessViewModel" minOccurs="0" name="DetalharClienteResult" nillable="true" type="q7:BusinessViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarTodosClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarTodosClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Model.BusinessViewModel" minOccurs="0" name="listarTodosClientesResult" nillable="true" type="q8:ArrayOfBusinessViewListModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>